.my-head{background-color: #326844;}

h1{font-family: 'Kanit', sans-serif;}

p{font-family: 'Kanit', sans-serif;}
h1{
 color: green;
 
 padding-top: 100px ;
}
.my-button{ color: green;}
.my-border{
  border-style: solid;
  border-color: green;
}